// Components

.page {
	background-color: #eee;
}

.app-page {
	display: flex;
}

.breakouts {
	// padding: 10px;
	text-align: center;
	.breakout {
		// background-color: #fff;
		display: inline-block;
		margin: 20px 5px;
		// transform: translateY(-10%);
		width: 300px;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.27);
		min-height: 200px;
		position: relative;
		background-size: cover;
		a {
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			background-color: #fff;
			text-decoration: none;
		}
	}
}

.history {
	color: #fff;
	text-align: center;
}

.primary-footer {
	background-color: #252525;
	min-height: 100px;
	position: relative;
	border-top: 5px solid #33617F;
		.address {
			text-align: center;
		}
}

.primary-footer {
	.copywrite {
		background-color: #000000;
		color: #fff;
	}
}

.address {
	* {
		margin: 0 auto;
		font: 12pt 'open-sans' Arial;
	}
}

.process {
	background-image: url("/images/construction.png");

}

.testimony {
	background-image: url("/images/library.png");

}

.login {
	background-image: url("/images/key.png");
	background-color: rgba(14,56,224,.52);
}

.app-page aside {
	background-color: #1C1C1C;
	width: 200px;
	position: relative;
}

.app-page main {
	background-color: #ccc;
	flex: 1;
	// padding: 10px;
}

.aside-header {
	color: #fff;
	min-height: 50px;
	.logo {
		font-size: 10px;
	}
}

.projects {
	min-height: 50px;
	h1 {
		color: #fff;
		text-align: center;
	}
	a {
		text-decoration: none;
	}
}

.project-list .name {
	color: #fff;
	text-align: center;
	min-height: 50px;
}

.main-header {
	background-color: #33617F;
	min-height: 50px;
	border-bottom: 1px solid black;

	a {
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.app-info {
	background-color: #fff;
	min-height: 50px;
}

.app-breakouts {
	min-height: 100px;
	text-align: center;
	transform: translateY(-20%);
}

.app-breakout {
	background-color: red;
	display: inline-block;
	width: 200px;
	min-height: 100px;
}

section {
	background-color: #ccc;
}

section > h1 {
	background-color: #33617F;
	color: #fff;
}

.task-list {
	// background-color: magenta;
	min-height: 200px;
	div {
		background-color: black;
		position: relative;
	}

}

.logout {
	position: absolute;
	bottom: 0;
	right: 20px;
}

thead tr {
	width: 100%;
	background-color: #fff;
	th {
		width: 25%;
	}
}

tbody tr {
	width: 100%;
}

tbody tr:nth-child(odd) {
	background-color: #ccc;
}

tbody tr:nth-child(even) {
	background-color: #fff;
}





