// Inherited

html {
    box-sizing: border-box;
    color: #444;
    font: 14pt 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}