<form class="new-property">
	Last Name <input type="text" name="last_name">
	First Name <input type="text" name="first_name">
	Email <input type="email" name="email">
	Address <input type="text" name="address">
	City <input type="text" name="city">
	<input type="hidden" name="is_contractor" value="0">
	<button>Submit</button>
</form>