@import url(/vendor/normalize-css/normalize.css);
@import url(/vendor/font-awesome/css/font-awesome.css);
html {
  box-sizing: border-box;
  color: #444;
  font: 14pt 'Open Sans', Arial;
  font-weight: 300; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit; }

.panel > div {
  width: 960px;
  margin: 0 auto;
  min-height: 600px; }

.primary-header {
  min-height: 40px;
  background-color: #33373A;
  padding: 10px;
  position: relative; }

.primary-header .logo {
  font: 24pt 'lobster' Cursive;
  color: #fff;
  position: absolute;
  top: 20;
  left: 50px; }
  .primary-header .logo img {
    width: 60px; }

.primary-nav {
  text-align: center;
  background-color: #34383B;
  border-bottom: 5px solid #33617F; }

.primary-nav a {
  display: inline-block;
  font: 12pt 'open-sans' Arial;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none; }

.tag-line {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0; }

.tag-line .slogan {
  display: inline-block;
  font: 24pt 'lobster' Cursive;
  color: #fff; }

.hero {
  background-color: yellow;
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 1%, transparent, transparent, transparent), url("/images/luxuryhome.png");
  background-size: cover;
  border-bottom: 1px solid black; }

.content {
  background-color: #1C1C1C; }

button, .button {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #00A7C4;
  text-decoration: none;
  width: 60px;
  padding: 5px;
  font-size: 12pt; }

.page {
  background-color: #eee; }

.breakouts {
  text-align: center; }
  .breakouts .breakout {
    display: inline-block;
    margin: 20px 5px;
    width: 300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.27);
    min-height: 200px;
    position: relative;
    background-size: cover; }
    .breakouts .breakout a {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      background-color: #fff;
      text-decoration: none; }

.history {
  color: #fff;
  text-align: center; }

.primary-footer {
  background-color: #252525;
  min-height: 100px;
  position: relative;
  border-top: 5px solid #33617F; }
  .primary-footer .address {
    text-align: center; }

.primary-footer .copywrite {
  background-color: #000000;
  color: #fff; }

.address * {
  margin: 0 auto;
  font: 12pt 'open-sans' Arial; }

.process {
  background-image: url("/images/wood-working.png"); }

.testimony {
  background-image: url("/images/library.png"); }

.login {
  background-image: url("/images/key.png");
  background-color: rgba(14, 56, 224, 0.52); }

.fa-wrench {
  color: #fff; }

.app-page {
  display: flex; }

.app-page aside {
  background-color: #3E424E;
  width: 150px;
  position: relative;
  padding: 40px; }

.app-page main {
  background-color: #F7F7F7;
  flex: 1; }

.aside-header {
  color: #fff;
  min-height: 50px; }
  .aside-header .logo {
    font-size: 12px; }
    .aside-header .logo img {
      width: 75px; }

.property-list .property {
  color: #fff;
  text-align: center;
  min-height: 50px; }

.main-header {
  background-color: #00A7C4;
  min-height: 50px;
  border-bottom: 1px solid #9EDAE4;
  position: relative; }
  .main-header a {
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px; }

.app-info {
  background-color: #fff;
  min-height: 100px;
  position: relative; }
  .app-info a {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px; }

.app-breakouts {
  min-height: 100px;
  text-align: center;
  transform: translateY(-20%); }

.app-breakout {
  background-color: #FFF;
  width: 300px;
  display: inline-block;
  border: 3px solid #F4F4F4;
  border-radius: 3px;
  text-align: center;
  min-height: 150px; }
  .app-breakout div:first-child {
    background-color: #F7F7F7;
    padding: 10px;
    font-size: 2em;
    color: #00A7C4; }
  .app-breakout div:last-child {
    padding: 10px; }

section {
  background-color: #F7F7F7;
  padding: 10px; }

.property-list > h6 {
  background-color: #00A7C4;
  color: #fff;
  padding: 10px; }

.task-list {
  min-height: 200px; }
  .task-list div {
    background-color: black;
    position: relative; }

.logout a {
  position: absolute;
  bottom: 0; }

table {
  border: none; }

thead tr {
  width: 100%;
  background-color: #F7F7F7; }
  thead tr th {
    width: 20%;
    border-top: none;
    border-bottom: 1px solid #EDEDED;
    min-height: 10px; }

tbody tr {
  width: 100%; }

tbody tr:nth-child(odd) {
  background-color: #ccc; }

tbody tr:nth-child(even) {
  background-color: #fff; }

tbody .my-task {
  text-align: center; }

.my-task td:last-child {
  text-align: initial;
  padding: 5px; }

.home-owner td {
  padding: 10px;
  border: none; }

.view button {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #00A7C4; }
  .view button a {
    text-decoration: none; }

.my-task td {
  border: none; }

.notes textarea {
  height: 1.5em;
  border-radius: 3px;
  resize: none; }

.notes textarea:focus {
  outline: none; }

.my-task.expand textarea {
  height: 5em;
  display: block;
  margin: 0 auto; }

.notes > .note-save {
  display: none; }

.my-task.expand .note-save {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #00A7C4;
  background-color: #fff; }

.new-property > * {
  display: block;
  margin-bottom: 10px; }

.new-property button {
  background-color: #fff;
  border: 1px solid #00A7C4;
  border-radius: 5px; }

.new-task button {
  background-color: #fff;
  border: 1px solid #00A7C4;
  border-radius: 5px; }

.property-list {
  margin: 0 auto; }
